/*-------- Global variables ----------*/

$navbar-height			:60px;
$body-text-size			:12px;
$language-menu-width	:150px;
$pink					:#ff89af;
$sidebar-width			:190px;
$heading-font-family	:"Playfair Display" serif;
$body-font-family		:"Open Sans" sans-serif;
$grey					:#999;
$dark-grey				:#333;
$medium-grey			:#444;
$transition-speed		:.4s;
$page-transition-speed	:1s;
$screen-mobile			:"479px";
